body{
  background-color: black;
}

.title{
  color: white;
  font-size: 28px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.1em;
  position:absolute;
  top:5%;
  left:70%;
  filter: blur(4px);
}

.title:hover{
  filter: none;
}

.body1{
  color: white;
  font-size: 20px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.05em;
  position:absolute;
  top:20%;
  left:5%;
  filter: blur(4px);
}
.body1:hover{
  filter: none;
}

.quote1{
  color: white;
  font-size: 20px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.05em;
  font-style: italic;
  position:absolute;
  top:53%;
  left:53%;
  filter: blur(4px);
}
.quote1:hover{
  filter: none;
}

.body2{
  color: white;
  font-size: 20px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.05em;
  position:absolute;
  top:65%;
  left:5%;
  filter: blur(4px);
}
.body2:hover{
  filter: none;
}

.quote2{
  color: white;
  font-size: 20px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.05em;
  font-style: italic;
  position:absolute;
  top:83%;
  left:60%;
  filter: blur(4px);
}
.quote2:hover{
  filter: none;
}

.quote3{
  color: white;
  font-size: 20px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.05em;
  font-style: italic;
  position:absolute;
  top:95%;
  left:5%;
  filter: blur(4px);
}
.quote3:hover{
  filter: none;
}

.quote4{
  color: white;
  font-size: 20px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.05em;
  text-align: right;
  font-style: italic;
  position:absolute;
  top:105%;
  left:48%;
  filter: blur(4px);
}
.quote4:hover{
  filter: none;
}

.body4{
  color: white;
  font-size: 20px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.05em;
  position:absolute;
  top:123%;
  left:5%;
  filter: blur(4px);
}
.body4:hover{
  filter: none;
}

.padding{
  color: black;
  font-size: 30px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  letter-spacing: 0.05em;
  position:absolute;
  top:160%;
  left:5%;
}
